        <footer>
            <div class="container">
                <ul class="nav">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/teams">TEAM DIRECTORY</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="https://www.facebook.com/643084755843392/" target="_blank">FACEBOOK</a></li>
                </ul>
            </div>
            <div class="copyright">
                <p> &copy; 2016 <span id="footer-TDC">THE DANCE COMMUNITY.</span> ALL RIGHTS RESERVED</p>
            </div>
        </footer>
    </body>
</html>