<!DOCTYPE html>
    <head>
        <title>The Dance Community</title>
        <meta name=viewport content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    </head>
    <body>
    <!--Navbar-->
        <nav class="navbar navbar-static-top">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="text-center">
                <div class="brand-centered">
                  <a class="navbar-brand" href="/"><img src="https://res.cloudinary.com/dce6r25eh/image/upload/v1474080491/TDC_logo_ekj0qw.png" alt="TDC"></a>
                </div>
            </div>
            <div>
                <p class="navbar-text navbar-right">
                    <a href="#" class="navbar-link"></a>
                </p>
            </div>
          </div>
        </nav>