<% include partials/header %>
    <div class="content">
        <section class="main-content">
            <section class="show team-info">
                <div id="team-profile" class="container">
                    <img src="https://res.cloudinary.com/dce6r25eh/image/upload/v1475123980/TDC_Profile_jomxfo.png">
                </div>
                <div id="team-description" class="container">
                    <h3>THE DANCE COMMUNITY</h3>
                    <article>
                        <span>The Dance Community is a web application that helps dancers find urban dance community 
                        events in their area.
                        </span>
                        <span>Have a question? Was your team not listed? Please contact us by visiting our 
                        <span><a href="https://www.facebook.com/643084755843392/">Facebook</a></span> page!
                        </span>
                        <span id="disclaimer">DISCLAIMER: The Dance Community does not intent to represent the global urban dance 
                        community scene as a whole, nor does it intent to represent any other dance scene (i.e.
                        Hip Hop, Bboy, Contemporary, etc.). Currently, The Dance Community serves only the state of 
                        California, but may expand to other regions in the near future.
                        </span>
                    </article>
                </div>
            </section>
        </section>
    </div>
<% include partials/footer %>