*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@-ms-viewport{
  width: device-width;
}

/*NAVBAR*/

.navbar {
    padding: 0;
    border: 0;
    background-color: #36454f;
    position: relative;
}

.container {
    width: 100%;
    min-width: 300px;
    max-width: 900px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-right {
    float: right;
}

.navbar-brand {
    float: left;
}

.navbar a {
    color: white;
}

.content h2 {
    text-align: center;
}

.grid-item {
    position: relative;
    display: inline-block;
    float: left;
    width: 30%;
    margin: 1%;
}

img {
    width: 100%;
}

.hover-text {
    background: rgba(0,0,0,0.7);
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity;
    width: 100%;
}

/*Hover thumbnail for team profiles*/

.hover-text a {
    display: table;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.hover-text a div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
}

.grid-item img {
    vertical-align: top;
}

.hover-text {
    transition: opacity .3s ease-in-out;
}

.grid-item:hover .hover-text {
    opacity: 1;
}

/*CONTENT*/

.teams {
    width: 100%;
    border-bottom: 1px solid #ecf0f1;
}

.events {
    width: 100%;
    padding-top: 20px;
}

.content section {
    min-height: 43em;
}

/*FOOTER*/

footer {
    margin-top: 100px;
    margin-bottom: 0;
    padding:40px 0 20px;
    background-color: #36454f;
    vertical-align: top;
    text-align: left;
    border-top: 3px solid #ecf0f1;
    font-style: normal;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
}
