*, *:before, *:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@-ms-viewport{
  width: device-width;
}

html, body{
    font-size:14px;
    background-color: #f8f8f8;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.5px;
}

a:visited{
    background-color: black !important;
}

img{
    width:100%;
}

h1, h2, h3, h6{
    font-weight: 300;
}

h3{
    color: #fff200;
}

.show{
    background-color: black;
    margin: 0 auto;
}

/*NAVBAR*/

.navbar{
    padding: 0;
    border: 0;
    margin: 0;
    background-color: black;
}

.brand-centered{
    position: absolute;
    left: 50%;
    margin-left: -15px !important;
    display: block;
}

.navbar-brand{
    padding: 10% 10%;
}


.navbar-brand>img{
    height: 100%;
    width: auto;
}

.navbar-text{
    float: right;
    padding-right: 3%;
}

.navbar a{
    color: #fff;
}

.content{
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    min-width: 1366px;
    margin: 0 auto;
    background-color: #fff200;
}

/*LANDING-HERO*/

.top{
    height: 770px;
    margin: 0 auto;
    min-width: 780px;
    max-width: 1366px;
    background-color: black;
    color: #fff;
    position: relative;
}

#overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    background-image: url("https://res.cloudinary.com/dce6r25eh/image/upload/v1474082619/13458611_616330075185516_7401409463503550716_o_wzdixd.jpg");
    opacity: 0.5;
}

.hero .container{
    position: absolute;
    text-align: center;
    top: 40%;
    left: 0;
    right: 0;
    height: auto;
    transform: translate(0,-50%);
    padding-top: 40px;
    padding-bottom: 40px;
}

input{
    color: #fff;
}

.input-append{
    padding-top: 4%;
    font-size: 0;
}

#pac-input{
    background-color: transparent;
    border: 1px solid #fff200;
    border-radius: 0;
    font-size:24px;
    height: 50px;
    padding-left: 1em;
    padding-right: 50px;
    vertical-align:bottom;
    width: 405px;
}

.pac-container{
    letter-spacing: 0;
}

.input-append .btn{
    width: 55px;
    padding: 0;
    height: 50px;
    font-size:24px;
    border: 1px solid #fff200;
    border-radius: 0;
    background-color: #fff200;
    color: black;
    vertical-align: bottom;
}

/*LANDING-CITIES*/

.main-content{
    margin: 0 auto;
    max-width: 1366px;
    padding: 5% 6%;
    background-image: url("https://res.cloudinary.com/dce6r25eh/image/upload/v1474080491/TDC_bg_pattern_wpv403.png");
    background-position:top;
    background-repeat:no-repeat;
    background-size:40%;
}

.main-content section{
    width: 100%;
}

.main-content.cities{
    width: 1336px;
}

.cities h3{
    font-style: normal;
    letter-spacing: 0.5em;
    margin: 0 auto;
    background-color:black;
    padding: 5%;
    padding-bottom:1%;
}

.localities{
    list-style-type: none;
    padding: 2% 5%;
    text-align: left;
    margin: 0 auto;
    background-color:black;
}

section.cities ul.localities>li{
    padding: 1em 0;
}

section.cities ul.localities>li:not(:last-child){
    border-bottom: 1px solid #4c4c4c;
}

section.cities ul.localities h6{
    text-align: left;
    float: left;
    white-space: nowrap;
    font-weight: 600;
    font-style: normal;
    color: #fff;
    text-transform: uppercase;
    min-width: 174px;
    width: 174px;
    margin-top: 8px;
}

section.cities ul.cities{
    list-style-type: none;
    padding-left: 50px;
    overflow: hidden;
}

section.cities ul.cities li{
    padding: 0.5em 1em;
    width: 30%;
    display: inline-block;
}

section.cities ul.cities li>a{
    display:inline;
    color:#8d8d8d;
    width:100%;
    height:100%;
    padding:0;
}

/*FOOTER*/

footer{
    background-color: black;
    vertical-align: top;
    text-align: left;
    font-style: normal;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
}

footer ul.nav>li{
    margin: 5% 0;
    padding: 0 5%;
    display: inline;
}

footer ul.nav>li>a{
    display:inline;
    color: #fff;
    width:100%;
    height:100%;
    padding: 0;
}

footer ul.nav>li>a:hover{
    text-decoration: none;
}

footer .nav{
    padding-left: 0;
    list-style: none;
}

footer .container{
    padding-top: 1.6%;
    padding-bottom: 1.6%;
}

footer .copyright{
    padding-top:1.5%;
    padding-bottom:1%;
    border-top: 1px solid #4c4c4c;
    text-align: center;
}

#footer-TDC{
    color: #fff200;
}

/*flexbox footer*/
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content{
    flex: 1;
}

/*LOCAL CSS*/

.grid-item.no-events-message {
    color: black;
    position: relative !important;
    box-shadow: none;
}

.glyphicon-ban-circle {
    font-size:6em;
    padding: 4%;
}

.no-events-message h2 {
    background-color: #fff200;
    color: black;
    margin: 0 auto;
    max-width: none;
    padding: 2%;
}

/*FILTERS*/
.btn-group{
    display:flex;
    margin: 0 auto;
    width:50%;
}

.btn-group.btn-group-lg button{
    background-color: #f8f8f8;
    border-radius: 0;
    padding: 1%;
    font-weight: 300;
    flex-grow:1;
}

.btn-group.btn-group-lg button:focus{
    outline: none;
}

.btn-default.btn-responsive.is-checked{
    transition: background-color 0.3s ease-out;
    background-color: #a6a6a6;
}

/*TEAM CONTENT*/
.container{
    width: 100%;
    max-width: 900px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

h2{
    background-color: #f8f8f8;
    color: #595959;
    margin: 0 auto;
    max-width: 35%;
    padding: 1%;
    text-align: center;
}

#team-box{
    background-color: black;
    vertical-align: top;
    text-align: left;
    font-style: normal;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    padding: 2%;
    margin: 1.77%;
}

#team-box ul.nav>li{
    margin: 0 0 5px;
    display: inline;
}

#team-box ul.nav>li:not(:first-child){
    padding-left: 1%;
    border-left: 1px solid #4c4c4c;
}

#team-box ul.nav>li:not(:last-child){
    padding-right: 1%;
    border-right: 1px solid #4c4c4c;
}

#team-box ul.nav>li>a{
    color: #fff;
    display:inline;
    height:100%;
    padding: 0;
    width:100%;
}

#team-box ul.nav>li>a:hover{
    text-decoration: none;
    background-color: black !important;
}

#team-box .nav{
    padding-left: 0;
    list-style: none;
}

#team-box .container{
    padding-top: 1.6%;
    padding-bottom: 1.6%;
}

.grid-item{
    position: relative;
    box-shadow: 0 0 0 0.3em #fff;
    display: inline-block;
    width: 46%;
    margin: 1.77%;
}

/*Hover thumbnail for team profiles*/

.hover-text{
    background: rgba(0,0,0,0.8);
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0.9;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .3s ease-in-out;
    width: 100%;
}

.expired #team-name span,
.expired #grid-text>div{
    color: gray;
}

.hover-text a{
    display: table;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

#grid-text{
    display: table-cell;
    padding: 0 1%;
}

.hover-text a div{
    color:#fff;
    display: block;
    font-size: 1.0em;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
}

#team-name{
    color: #8d8d8d;
    font-size: 0.9em;
    padding-top: 1%;
}

#team-name span{
    color: #fff200;
}

#start-date{
    padding-top: 5%;
    font-size: 0.85em;
}

.grid-item img{
    vertical-align: top;
}

.grid-item:hover .hover-text{
    opacity: 1;
}

/*CONTENT*/

.events{
    width: 100%;
    padding-top: 2%;
}

/*EVENT SHOW PAGE*/
.main-content .show{
    width: 85%;
}

.event-hero{
    background-color: transparent;
}

object,
object > img{
    box-shadow: 0 0 0 0.3em #fff;
    width: 100%;
}

#expired-hero{
    background-color:black;
    background-image: url("https://res.cloudinary.com/dce6r25eh/image/upload/v1475111160/l6tJRxn_rnswpf.jpg");
    background-position: top center;
    background-size: 100% 100%;
    box-shadow: 0 0 0 0.3em #fff;
    padding: 20%;
}

#expired-hero section span{
    width:100%;
    height:100%;
    color: #8d8d8d;
    font-size:250%;
    font-weight: 300;
}

.event-info{
    color: #fff;
    font-weight: 300;
    line-height: 200%;
    margin-top: 3%;
    padding: 3%;
}

.event-info .container{
    width: 90%;
    overflow: hidden;
}

.event-name{
    color: #fff200;
    font-size: 2em;
    font-weight: 400;
}

.morecontent span{
    display: none;
}

.morelink{
    display: inline-block;
}

.event-description a:last-child{
    color: #fff200;
}

.event-description a:last-child:hover{
    background-color:black;
    text-decoration:underline;
}

.event-description a:not(:first-child):not(:last-child):hover{
    background-color:black;
    text-decoration:underline;
}

#description{
    text-align: justify;
}

.event-info ul.nav>li:not(:last-child){
    padding-top:5.5%;
}

.event-info ul.nav>li:not(:first-child){
    padding-top:5.5%;
    padding-bottom:5.5%;
}

.event-info ul.nav>li:not(:first-child):not(:last-child){
    border-bottom: 1px solid #4c4c4c;
}

.event-times-place span{
    color: #fff200;
    font-size: 1.5em;
    padding: 1%;
}

.event-times-place ul.nav>li:first-child{
    padding-top: 0;
    padding-bottom: 1%;
}

.event-times-place ul.nav>li:last-child{
    padding-top: 1%;
    padding-bottom: 0;
}

/*TEAM DIRECTORY SHOW PAGE*/
.directory-container{
    max-width: 100%;
    padding-left: 3.5%;
}

.directory-grid-item{
    width: 30%;
    margin:1.3%;
}

.hover-text a div .team-block-info{
    color: #fff200;
    font-size: 220%;
    letter-spacing: 0.2em;
}

.team-block-info{
    padding:0 5%;
}

/*TEAM SHOW PAGE*/

.team-info{
    color: #fff;
    font-weight: 300;
    line-height: 200%;
    margin-top: 3%;
    padding: 3%;
}

.team-info .container{
    display: table-cell;
    overflow: hidden;
    width: 50%;
}

.social-media-bar{
    padding-bottom: 5%;
    width:8%;
    white-space:nowrap;
}

.icons{
    opacity: 1;
    transition: opacity .25s ease-in;
    -webkit-transition: opacity .25 ease-in;
    -webkit-backface-visibility: hidden;
}

.icons:hover{
    opacity: 0.6;
}

#team-profile{
    padding:5%;
}

#team-profile img{
    box-shadow: 0 0 0 0.3em #fff;
}

#team-description{
    text-align: left;
}

#team-description h3{
    background-color: transparent;
    letter-spacing: 0.3em;
    padding-top: 2%;
    padding-bottom: 2%;
}

#team-description article{
    overflow: hidden;
}

#team-description article>span{
    display: list-item;
}

#team-description article>span:not(:first-child){
    border-top: 1px solid #4c4c4c;
    border-left: 0;
    padding-top: 4.5%;
    padding-right: 0;
}

#team-description article>span:not(:last-child){
    border-right: 0;
    padding-bottom: 4.5%;
    padding-right: 0;
}

.team-events{
    background-color: transparent;
    padding-top: 4em;
}

/*About us*/

#disclaimer{
    color: #8d8d8d;
    font-size: 0.9em;
}

/*MEDIA SCREEN*/
@media only screen and (max-width: 1366px){
    
    section.top{
        min-width: 320px;
        width: 100%;
        height: 700px;
    }
    
    #pac-input{
        width:70%;
    }
    
    #overlay{
        background-size: initial;
    }
    
    .main-content.cities{
        min-width:320px;
        width: 100%;
    }
    
    section.cities ul.localities h6{
        float: none;
        padding: 0 20px;
        text-align: left;
    }
    
    section.cities ul.cities{
        display: block;
        padding: 0 20px;
        text-align: left;
    }
    
    section.cities ul.cities li{
        width: 30%;
    }
    
    .content{
        margin: initial;
        min-width:100%;
    }
    
    #expired-hero{
        background-size: initial;
    }
}
@media only screen and (max-width: 780px){
    h2{
        font-size: 1.5em;
        margin: 3%;
        max-width: 100%;
        padding: 4%;
    }
    
    footer ul.nav>li{
        display: inherit;
    }
    
    .brand-centered{
        left: 49%;
    }
    
    .main-content.cities{
        width: 100%;
    }
    
    footer .copyright{
        padding-top:4%;
    }
    
    .btn-group{
        width:100%;
    }
    
    .btn-responsive{
        flex-grow:1;
        font-size: 90% !important;
    }
    
    .grid-item{
        width: 100%;
        margin: 3% 0;
    }
    
    #team-box{
        margin: 0;
    }
    
    .main-content .show{
        width: 100%;
        padding: 7%;
    }
    
    .main-content .cities{
        padding: 0;
    }
    
    #sorts.btn-group.btn-group-lg button{
        padding: 4%;
    }
    
    #team-description{
        text-align:justify;
    }
    
    #team-description h3{
        text-align: center;
    }
    
    .team-info .container{
        display: table-row;
        width:100%;
    }
    
    .social-media-bar{
        margin-left: 35%;
        padding-bottom: 5%;
        width:15%;
        white-space:nowrap;
    }
}
@media only screen and (max-width: 480px){
    .hero .container{
        top: 30%;
    }
    
    #team-box .nav{
        padding: 1% 15%;
    }
    
    #team-box ul.nav>li:not(:first-child){
        display: inherit;
        margin-bottom: 2.5%;
        border-top: 1px solid #4c4c4c;
        border-left: 0;
        padding-top: 3.5%;
        padding-right: 0;
    }

    #team-box ul.nav>li:not(:last-child){
        display: inherit;
        border-right: 0;
        padding-top: 3.5%;
        padding-bottom: 1%;
        padding-right: 0;
    }
    
    section.cities ul.cities li{
        width: 49%;
    }
    
    .brand-centered{
        margin-left: 0;
        left: 45%;
    }
}